.project
.classpath
.gradle
bin
.settings
build
out
target
logs
gradlew
gradlew.bat

db/**/*.java
.idea/
*.iml
gradle/**
.project
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.properties